.header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
.search{
    padding: 10px 10px 10px 30px;
}
#citySeach{
    height: 20px;
}
.forecastRow {
    margin-left: 10px;
}
.forecastCard {
    background-color: blue;
    margin-right: 20px;
    border-radius: 10px;
    color: white;
    padding: 10px;
}
.currentCity {
    background-color: rgb(211, 211, 211);
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.weatherIcon {
    height: 100px;
    width: auto;
}

.cityHistoryName{
    list-style: none;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: white;
}

#cityHistory{
    padding: 0px;
}